.user-settings {
    width: 600px;
}

.rich-text-editor {
    min-height: 300px;
    margin-top: 10px;
}

.drag-and-drop-images {
    position: relative;
    
    width: 100%;
    height: 300px;
    
    background: white;
    border: 2px dashed #ddd;
    cursor: pointer;
}

.drag-and-drop-images:hover:after {
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    transform: translateX(-50%) translateY(-50%);
    
    font-family: 'Material Icons';
    font-size: 40px;
    
    content: 'add_photo_alternate';
    opacity: 0.4;
}

.div-image-block {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 2s ease-in !important;
    -moz-transition: background-size 2s ease-in;
    -ms-transition: background-size 2s ease-in;
    -o-transition: background-size 2s ease-in;
    -webkit-transition: background-size 2s ease-in;
}
.AuctionDetails .photo-big .div-image-block {
    background-size: contain;
}

.thumbnails {
    overflow: hidden;
}

.thumbnails .container {
    display: inline-block;
    position: relative;
    
    width: 111px;
    height: 111px;
    overflow: hidden;
    
    margin: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    
    border: 1px solid #eee;
    background: #f0f0f0;
    border-radius: 10px;
}

.thumbnails .image-preview {
    max-height: 111px;
    
}
.user-settings fieldset .add {
    margin-top: 6px;
    font-size: 14px;
    cursor: pointer;
    color: var(--link-blue);
    opacity: 0.7;
}
.user-settings fieldset .add:hover {
    opacity: 1;
}
.user-settings fieldset .add i {
    font-size: 20px;
}
.user-settings fieldset .attributes {
    flex-wrap: wrap;
}
.user-settings fieldset .attributes input {
    width: 100%;
    display: block;
}

.user-settings fieldset > p > select {
    height: var(--input-h);
    border: 1px solid #ddd;
    width: 50%;
    margin-bottom: 15px;
    cursor: pointer;
}
.user-settings fieldset > p > select + .label {
    line-height: var(--input-h);
    padding-left: 10px;
}

.AuctionList {
    width: 100%;
}

.AuctionList .auction {
    position: relative;
    display: flex;
    margin-bottom: 60px;
}
.AuctionList .auction:not(:last-child):after {
    position: absolute;
    bottom: -29px;
    content: '';
    width: 100%;
    height: 1px;
    background: #ddd;
}

.image-wrapper, .thumbnail-wrapper {
    position: relative;
    overflow: hidden;
}

.AuctionList .auction .image-wrapper {
    height: 220px;
    width: 300px;

    margin-right: calc(var(--page-margin) / 2);
}
.no-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
    border: 1px solid #ddd;
}
.no-image:after {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Material Icons';
    font-size: 40px;
    content: 'image_search';
    display: block;
    color: white;

}
.AuctionList .auction img {
    width: 100%;
    height: 100%;
}

.AuctionList .auction .text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.AuctionList .auction .text h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}
.AuctionList .auction .text .short-description {
    margin-bottom: 20px;
}
.AuctionList .auction .text .price, .price {
    color: var(--orange);
    font-size: 20px;
    font-weight: 400;
}

.price > .value {
    font-size: 25px;
    font-weight: bolder;

    margin-left: 5px;
    color: #444;
    vertical-align: baseline;
}
.AuctionList .auction .text .value:after, .price > .value:after {
    content: ' zł';
}

.AuctionList .auction .actions {
    position: relative;    
    opacity: 0;
}
.AuctionList .auction:hover .actions {
    opacity: 1;
}
.AuctionList .auction .actions div {
   margin-top: 10px;
}
.AuctionList .auction .actions i {
    margin-left: 0px;
    cursor: pointer;
}

.AuctionList .auction .actions button {
    margin: 0 5px;
    padding: 10px 40px;
    cursor: pointer;
    
    border: 1px solid #ccc;
}

.AuctionList .auction .actions button {
    margin-left: 0;
}

.AuctionList .auction .actions button:hover {
    background: var(--orange);
    border: 1px solid white;
    color: white;
}
.AuctionList .auction .actions.dont-hide {
    opacity: 1;
}
.AuctionList .auction .time-details {
    margin: 15px 0;
    font-size: 14px;
}
.AuctionList .auction .time-details i {
    position: relative;
    top: -17px;
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}
.AuctionList .auction .time-details span {
    display: inline-block;
}
.AuctionList .auction span.bidders-state {
    opacity: .5;
    font-size: 13px;
    display: block;
}

.public-DraftStyleDefault-block {

}

.AuctionDetails {
}
.AuctionDetails .end-tag {
    position: relative;
    top: -55px;
    left: 10px;
    max-width: 65%;
    max-width: 250px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--good);
    padding: 10px;
    border: 2px dotted #ccc;
    background: white;

    transform: rotate(-15deg);
}
.AuctionDetails .background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    opacity: 0.07;
}

.AuctionDetails .background i {
    font-size: 150px;
    padding: 30px;
    color: var(--link-blue);
}

.AuctionDetails .basic-info {
    display: flex;
    margin-bottom: 50px;
}

.AuctionDetails .basic-info .photos {
    flex: 0 0 55%;
}

.AuctionDetails .basic-info .text {
    flex: 0 0 45%;
    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    padding-right: 100px; /* page margin */
}
.AuctionDetails .basic-info .text h1, .AuctionDetails .basic-info .text p {
    margin-bottom: 30px;
}
.AuctionDetails .photos .photo-big {
   background: white;
   border: 1px solid #eee;
}
.AuctionDetails .photos .image-wrapper { 
    box-sizing: border-box;
}

.AuctionDetails .photos .photo-big, .AuctionDetails .photos .image-wrapper {
    width: 100%;
    min-height: 470px;
}
.AuctionDetails .photos .photo-big img {
    min-width: 100%;
    min-height: 100%;
}
.AuctionDetails .photos-small {
    display: flex;
    width: 100%;
}
.AuctionDetails .thumbnail-wrapper {
    box-sizing: border-box;
    flex: 0 0 13.8%;
    min-height: 90px;
    margin-top: 15px;
    background: transparent;
    cursor: pointer;
}
.AuctionDetails .thumbnail-wrapper:not(:last-child) {
    margin-right: 5px;
}
.AuctionDetails .thumbnail-wrapper img {
    width: 100%;
    height: 100%;
}
.AuctionDetails .text input {
    height: var(--input-h);
    border: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    border-right: none;
    padding: 0 30px;

}
.AuctionDetails .text button[type='submit'] {
    height: calc(var(--input-h) + 2px);
    padding: 0 30px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #ddd;
    cursor: pointer;
    vertical-align: top;
}
.AuctionDetails .text button[type='submit'] i {
    margin-right: 5px;
    font-size: 18px;
}
/*.AuctionDetails #description {
    top: 70%;

    transform: translateY(-50%);
}*/
.AuctionDetails .html-description img {
    height: auto;
}
.AuctionDetails .html-description h1, .AuctionDetails .html-description h2, .AuctionDetails .html-description h3 {
    text-align: left;
}
.AuctionDetails .html-description {
    padding-top: 60px; 
    max-width: var(--html-w);
    margin-left: 30px;
    margin: auto;
    padding-bottom: 30px;
    text-align: left;
    line-height: 1.4;
}
.AuctionDetails .html-description p {
    margin: 10px 0;
}
.AuctionDetails .html-description h1, .AuctionDetails .html-description h2, .AuctionDetails .html-description h3 {
    margin-bottom: 20px;
}
.AuctionDetails .image-wrapper { 
    margin-right: 50px;
}
.AuctionDetails .text {
    margin-left: 100px; /* page margin */
}
.AuctionDetails .photo-big .no-image {
    height: 600px;
}

.AuctionDetails .attribute-tags {
    padding: 10px 0;
}

.AuctionDetails .attribute-tags .attribute {
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-right: 5px;
}

.AuctionDetails .attribute-tags .attribute > span {
    text-transform: capitalize;
    display: inline-block;
    margin-left: 5px;
}
.AuctionDetails .text .price {
    margin-bottom: 5px;
}
.AuctionDetails .attribute-tags .attribute > span:before {
    content: '\: ';
}

.add-horizontal-margin {
    margin-left: 2px;
}
.add-horizontal-margin input {
    cursor: pointer;
    display: inline-block;
    margin-left: 12px;
} 
.add-horizontal-margin span {
    margin-left: 4px;
}

.pagination-wrapper {
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
}
.pagination {
    position: absolute;

    max-width: 100%;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}
.pagination > a {
    margin: 0 5px;
    cursor: pointer;
}
.pagination > a.active {
    font-weight: bold;
    color: var(--link-blue);
}

.no-result i, .TechBreak i {
    font-size: 70px;
}
.no-result h1, .TechBreak h1 {
    margin-bottom: 20px;
} 
.no-result div {

}
.no-result, .TechBreak {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tab-view {
    display: flex;
}

.tab-view .tab-controls a {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #ccc;

    border-bottom: none;
    background: #fcfcfc;
}
.tab-view .tab-controls a:not(:last-child) {
    border-right: none;
}
.tab-view .tab-controls a.active {
    position: relative;
    background: white;
    font-size: 19px;
    bottom: -1px;
    z-index: 2;
}

.tab-view .tab-content-area, .tab-view .extra-tab {
    position: relative;
    
    padding: 10px;
    border: 1px solid #ccc;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #999;

    min-height: 500px;
    overflow-y: scroll; 
    background: white;

    display: block;
}
/* extra tab */
.tab-view .extra-tab {
    flex: 1 1 45%;
    margin-top: 46px;
    margin-left: 100px; /* page margin */
    min-height: 454px;
    border: 1px solid #eee;
}
.tab-view > div {
    flex: 0 0 55%;
}
.tab-view .extra-tab > div  {
    position: relative;
    width: 100%;
    height: 100%;
}
.tab-view .tab-content-area > div:first-child {
    z-index: 1;
}
.tab-view .tab-content-area > div, .tab-view .extra-tab > div > div {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% - 20px);
    height: calc(100% - 44px);

    height: 100%;
    padding: 10px;
    background: white;
    color: black;
    display: none;
}
.tab-view .extra-tab > div > div > h1 {
    margin-left: -10px;
}
.tab-view .extra-tab > div > div {
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translateY(-50%) translateX(-50%);
    display: block;
}
.tab-view .tab-content-area > div.active {
    z-index: 2;
    display: block;
}

.two-third-column {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}
.two-third-column > .column:first-child {
    --temp-width: calc(66% - var(--page-margin) - 20px);
    flex: 0 0 var(--temp-width);
    margin-right: 20px;
}
.two-third-column > .column:last-child {
    --temp-width: calc(33% + var(--page-margin) - 2px);
    flex: 0 0 var(--temp-width);
}

.three-column {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}
.three-column > .column {
    --temp-width: calc(33% - 13.5px);
    flex: 0 0 var(--temp-width);
}
.three-column > .column:not(:last-child) {
    margin-right: 20px;
}

.six-column {
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;
}

.six-column > .column {
    --temp-width: calc(16.7% - 20px);
    flex: 0 0 var(--temp-width);
}
.six-column > .column:not(:last-child) {
    margin-right: 20px;
} 
.FrontPage .most-popular  {

}
.FrontPage .most-popular > h1, .FrontPage .new > h1 {
    color: var(--orange);
    font-size: 40px;
    margin-top: 30px;
}
.FrontPage h1 > i {
    position: relative;
    top: -5px;
    font-size: 40px;
}
.FrontPage .no-image {
    min-height: 400px;
}
.FrontPage .auction {
    cursor: pointer;
    background: white !important;
    box-shadow: 1px 1px 1px #ccc;
}
.FrontPage .auction .photo {
    position: relative;
    width: 100%;
    min-height: 400px;
    
    box-sizing: border-box;
    overflow: hidden;
    
}
.FrontPage .auction .photo img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.FrontPage .auction .photo img:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.1) rotate(4deg);
} 
.FrontPage .title, .FrontPage .description {
    margin: 10px 0;
    max-width: 600px;
}
.FrontPage .six-column .title {
    font-size: 9px;
    padding: 10px;
    padding-top: 0;

    opacity: 0.7;
    
}
.FrontPage .six-column .column:hover .title {
    opacity: 1;
}
.FrontPage .six-column .column:hover .description, .FrontPage .six-column .column:hover .price-div {
    
}
.FrontPage .six-column .description {
    font-size: 14px;
    padding: 10px;
    display: none;
}
.FrontPage .six-column .price-div {
    transform-origin: left;
    transform: scale(.6);
    display: none;
}
.FrontPage .six-column .photo, .FrontPage .six-column .no-image {
    min-height: 190px;
}


.FrontPage .title, .FrontPage .description, .FrontPage .price-div {
    padding: 0 20px;
}
.FrontPage .price-div {
    padding-top: 10px;
    padding-bottom: 20px;
}


.rate-auction .Modal {
    position: fixed;
    z-index: 50;
}
.AuctionList .rate-auction .Modal .content {
    display: flex;
    flex-direction: column;
}
.AuctionList .rate-auction .Modal .content textarea {
    flex: 0 0 75% !important;
}
.AuctionList .rate-auction .Modal .title-text, .AuctionList .rate-auction .Modal .content, .AuctionList .rate-auction .Modal .actions {
    margin: 0;
}

.AuctionList .rate-auction .Modal .content .rate-user {
    display: block;
    padding: 0 30px;
    font-size: 11px;
}
.AuctionList .rate-auction .Modal .content .rate-user i:first-of-type {
    margin-left: 5px;
}
.like-icon {
    position: relative;
    top: -1px;
    margin-left: 10px;
    color: var(--hot-orange);
    opacity: .8;
    cursor: pointer;
}
.divider {
    width: 100%;
    height: 1px;
    background: #ddd;
}

.AuctionDetails .all-bids {
    padding-top: 60px;
    max-width: var(--html-w);
    margin: auto;
}

.AuctionDetails .all-bids h1 {
    margin-bottom: 20px;
}
.AuctionDetails .all-bids .price {
    padding-left: 10px;
    font-weight: 100;
    color: inherit;
}
.AuctionDetails .all-bids .price:after {
    content: ' zł';
}
.AuctionDetails .all-bids .bidder:first-child {
    color: var(--link-blue);
}
.AuctionDetails .all-bids .bidder.me {
    color: var(--orange);
}

.AuctionDetails ul.auctions {
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
}

.opinions table {
    width: 100%;
}
.opinions tr td:first-child {
    width: 70%;
}
.opinions tr td {
    position: relative;
    padding: 45px 20px;
    padding-bottom: 30px;
    font-weight: bold;
    
}
.opinions tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}
.opinions tr .auction-details {
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.4;
    opacity: .7;
}
.opinions tr .auction-details .date {
    opacity: .8;
}
.opinions tr .auction-details .title {
    font-weight: 400;
}
.opinions tr .opinion:before {
    content: '„';
}
.opinions tr .opinion:after {
    content: '‟';
}
.opinions tr .opinion {
    display: inline-block;
}
.opinions tr .rater {
    display: inline-block;
    margin-top: 6px;
    opacity: .7;
}
.opinions tr .rater:before {
    content: ' -- ';
}

.pagination, .pagination a {
    user-select: none;
}
.pagination-chevron {
    position: relative;
    top: -2px;
    color: var(--link-blue);
    opacity: 0.5;
}
.pagination-chevron:hover {
    opacity: 1;
}
.price-value:after {
    content: ' zł';
}
.AuctionDetails .price {
    display: inline-block;
}
.AuctionDetails .buy-now {
    opacity: .8;
    margin-top: -18px;
    margin-left: -18px;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(-2deg);
}
.AuctionDetails .min-price {
    opacity: .5;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 5px;
    margin-left: 23px;
    transform-origin: left;
    transform: scale(0.8);
    width: 110%;
}
.AuctionDetails .min-price .price-value {
}
.AuctionDetails .buy-now .standard-button {
    margin-left: 20px;
    padding: 13px 10px;
    background: transparent;
    border: 1px dashed #ccc;
    border: none;

}
.AuctionDetails .buy-now .standard-button:hover {
    color: var(--link-blue);
}

.Pay .Modal .title-text {

}
.Pay .Modal .content {
    padding: 20px;
    text-align: center;
}
.Pay h1 {
    text-align: center;
}
.Pay table {
    margin: 20px auto;
    text-align: left;

    border-top: 1px solid var(--link-blue);
    border-bottom: 1px solid var(--link-blue);

    opacity: .7;
}
.Pay table td {
    padding: 5px;
    color: var(--link-blue);
}
.Pay table td input {
    cursor: pointer;
}
.AuctionList .time-span {
    opacity: 0.8;
    margin-top: -4px;
}
.time-span {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    transform-origin: left;
    transform: scale(0.8);
    width: 123%;

}
.time-span:before {
    position: relative;
    top: 5px;
    font-family: 'Material Icons';
    font-size: 24px;
    content: 'alarm';
    margin-right: 5px;
}
.AuctionDetails .like-icon {
    margin-left: 5px;
}
.AuctionDetails .tab-view .extra-tab .no-result {
    top: 75%;
    left: 50%;
}
