.OtherUser .user-data {
	display: flex;
}


.OtherUser .user-data .column {
	margin: 20px;
}

.OtherUser .user-data .stars {
	margin-bottom: 5px;
}
.OtherUser .user-data .stars i {
	position: relative;
	top: -3px;
	color: var(--orange);
}
.OtherUser .user-data .stars i.bad {
	opacity: .5;
	
}
.OtherUser .user-data .name {
	font-weight: bold;
}
.OtherUser .user-data .city {
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 17px;
	margin-bottom: 10px;
}
.OtherUser .user-data .stats p {
	display: table;
}
.OtherUser .user-data .column:nth-child(n + 2) {
	padding-top: 15px;
}
.OtherUser .user-data .stats p span {
	min-width: 80px;
	display: table-cell;
	font-size: 14px;
}

.OtherUser .user-data .stats p span:nth-child(n + 2) {
	min-width: 40px;
}
.OtherUser .user-data .stats p span:nth-child(2) {
	min-width: 30px;
	text-align: right;
}
.OtherUser .user-data .stats p span:nth-child(3) {
	min-width: 10px;
	text-align: center;
}

.OtherUser .user-data .stats .bad {
	color: var(--bad);
}

.OtherUser .user-data .stats .good {
	color: var(--good);
}

.OtherUser .user-data .actions {
	display: flex;
	align-items: center;
}

.OtherUser .with-us {
	font-size: 14px;
}
.OtherUser .auctions-title {
	margin: 20px;
	margin-top: 40px;
	margin-bottom: 0px;
}
.OtherUser .auctions {
	padding: 8px;
	column-count: 7;
}

.OtherUser .auction {
	position: relative;
	top: 0;
	left: 0;

	display: table;
	
	width: 150px;
	height: auto;

	margin: 10px;
	padding: 10px;

	background: white;
	border: 1px solid #ddd;
	border-bottom: 2px solid #aaa;
	border-right: 1px solid #bbb;
	border-radius: 5px;
	
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.OtherUser .auction:hover {

}
.OtherUser .auction .lp {
	font-size: 17px;
	margin-right: 10px;
	font-weight: 100;
}

.OtherUser .auction .title {
	font-weight: 500;
	word-break: break-all;
}
.OtherUser .auction .description {
	font-size: 14px;
	margin-top: 10px;
	max-width: 300px;

}


.Deliveries {
	padding: 30px;
}
.Deliveries h1 {
	margin-bottom: 10px;
}
.Deliveries h1 i {
	position: relative;
	top: -4px;

	margin-right: 10px;
	font-size: 40px;
}
.Deliveries .price {
	color: black;
}
.Deliveries .price .value {
	margin-left: 10px;
}