.progressScreen {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: -8px;
    width: 100vw;
    height: 100vh;
    background: white;
    
    padding: 0 !important;
    margin: 0 !important;
    z-index: 2;
}

.progress-circle:after {
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
    content: ' ';
    background: white;
}
.progress-circle {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translateX(-50%) translateY(-50%);  
    
    width: 25px;
    height: 25px;
    
    border: 3px solid var(--orange);
    border-radius: 50%;
    
    animation: rotate 0.5s linear infinite;
}

.image-progress {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}
.image-progress > span:after {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    content: ' ';

    margin: 3px;
    width: 6px;
    height: 6px;

    background: var(--orange);
    border-radius: 50%;

    transform-origin: center;
    animation: bounce 0.5s ease-in-out infinite;
}
.image-progress > span:first-child:after {
 
}
.image-progress > span:nth-child(1):after {
    animation-delay: 0.25s;
}
.image-progress > span:last-child:after {
    animation-delay: 0.1s;
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(359deg) }
}

@keyframes bounce {
    from, to { top: 0; }
    50% { top: 10px; }
}